<h2 class="title">Simple Weather App</h2>

<div class="weatherContainer">
  <div class="weatherMain">
    <div class="searchContainer">
      <div class="searchBar">
        <input
          [(ngModel)]="searchItem"
          value=""
          class="searchInput"
          type="text"
          name="presetCityName"
          id=""
          placeholder="search for a city"
          (keyup.enter)="getWeatherData()"
        />
        <button (click)="getWeatherData()"  class="searchBtn" type="submit">
          submit
        </button>
      </div>

      <div class="promptMessage">
        {{ promptMessage }}
      </div>
    </div>


    <div *ngFor="let item of apiWeatherData" class="cardContainer" id='cardContainer' >
      <div class="card" *ngIf="cardShow" >
        <div class="cardMain">
          <div class="leftColumn">
            <div class="weatherIcon">
              <img [src]="item.imageSrc" alt="" />
            </div>
          </div>
          <div class="rightColumn">
            <p class="weatherDescription">{{ item.weatherDescription }}</p>
            <p class="temperature">{{ item.temperature }}</p>
            <h3 class="cityName">{{ item.cityName }}</h3>
            <p class="weatherDescription windSpeed">Wind：{{ item.windSpeed }}mph</p>
            <p class="weatherDescription humidity">Humidity：{{ item.humidity }}％</p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<router-outlet></router-outlet>
